<div class="form-container">
  <h2>Add New Task</h2>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input formControlName="title" type="text" id="title" />
      @if (taskForm.controls.title.invalid && taskForm.controls.title.touched) {
        <div class="error-message">
          @if (taskForm.controls.title.errors?.['required']) {
            <small>Title is required. </small>
          }
          @if (taskForm.controls.title.errors?.['minlength']) {
            <small>Must be at least 3 characters</small>
          }
        </div>
      }
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea formControlName="description" rows="4" id="description"></textarea>
      @if (taskForm.controls.description.invalid && taskForm.controls.description.touched) {
        <div class="error-message">
          @if (taskForm.controls.description.errors?.['required']) {
            <small>description is required.</small>
          }
        </div>
      }
    </div>
    <div class="button-group">
      <button type="submit" [disabled]="taskForm.invalid">Add Task</button>
      <button type="button" routerLink="/" class="secondary">Cancel</button>
    </div>
  </form>
</div>
